.search-result-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1507px;
    background-color: #fff;
    width: 100%;
    > .result-count {
      width: 75%;
      text-align: left;
      margin-top: 68px;
      font-family: "appleSDL";
      font-size: 16px;
      > span {
        font-family: "appleSDH";
      }
    }
  }
}
