.common-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 28%);
  padding: 0 14%;
  height: 90px;
  background-color: #222429;

  > i {
    background-image: url("../../assets/common-header-logo.png");
    width: 136px;
    height: 28px;
    background-size: cover;
  }
}
