.detail-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  > .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 1250px;
    background-color: #fff;
    > .header {
      display: flex;
      flex-direction: column;
      width: calc(75% - 64px);
      background: #f3f3f3;
      border-radius: 10px;
      margin-top: 70px;
      padding: 14px 32px;

      > .name {
        font-family: "appleSDH";
        font-size: 32px;
      }
      > .version {
        font-family: "appleSDL";
        font-size: 26px;
      }
      > .description {
        font-family: "appleSDL";
        font-size: 16px;
        margin-top: 6px;
      }
      > .hash-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 9px;
        > span {
          margin-right: 36px;
          font-family: "appleSDH";
          font-size: 16px;
        }
      }
    }
    > .tab-container {
      display: flex;
      flex-direction: row;
      width: 75%;
      justify-content: flex-start;
      margin-top: 38px;
      margin-bottom: 30px;
      padding: 0 0 1px 0;
      border-bottom: 1px solid #000000;
      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 23px;
        height: 48px;
        font-family: "appleSDH";
        font-size: 16px;
        color: #222429;
        border: 1px solid transparent;
        &.selected {
          border: 1px solid #222429;
        }
      }
    }
  }
}
