.move-docs-footer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background: rgba(34, 36, 41, 1);
  width: calc(100% - 14%);
  min-height: 400px;
  padding: 0 7%;
  > .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
    .move-dogs-icon {
      min-width: 300px;
      height: 97px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../assets/footer-logo.png");
      margin-top: 50px;
      margin-left: 6%;
    }
    > .contact-short-cut {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-left: 13%;
      margin-right: 13%;
      > .column {
        display: flex;
        flex-direction: column;

        > .title {
          font-family: "Inter";
          color: #fff;
          font-weight: 600;
          margin-bottom: 17px;
          font-size: 16px;
          cursor: pointer;
        }
        > .value {
          font-family: "Inter";
          color: #fff;
          margin-bottom: 17px;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
  > .div {
    width: 100%;
    height: 1px;
    background-color: #f7f7f7;
    margin-top: 83px;
  }
}
